* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* HAMBURGER MENU */
.hamburger-menu {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    transition: all 0.5s ease-out; }
    .hamburger-menu .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: #fff;
      transition: all 0.5s ease-out; }
    .hamburger-menu.close {
      transform: rotate(180deg); }
      .hamburger-menu.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); }
      .hamburger-menu.close .btn-line:nth-child(2) {
        opacity: 0; }
      .hamburger-menu.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px); }

body {
    background: pink;
}

header {
    background: red;
    min-height: calc(100vh - 150px);
    width: 100%;
}

#header-text {
  margin-top: 25vh;
  width: 400px;
  margin: 30vh auto;
  text-align: center;
}

#header-text h1 {
  font-size: 3.5rem;
  border-bottom: solid 2px white;
  border-bottom-width: 100%;
}

#header-text p {
  font-size: 1.5rem;
}

main {
    background: grey;
}

.text-container {
  height: 40vh;
  width: 100%;
}

footer {
    background: green;
}


